
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error 404</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/homeStyle.css" />
</head>

<body>
    <div class="vertical-center">
        <div class="container">
            <div id="notfound" class="text-center">
                <h1>
                    <img src="https://cdn.glitch.global/465b4f69-1909-4796-ab9c-61c24e6cde54/Png.png?v=1713103485651" />
                </h1>
                <h1>Successfuly verifed</h1>
                <p>You have successfully verified as <%= username %></p>
                <a href="https://discord.com/invite/rV3dd3dUwT">Join our Discord</a>
            </div>

            <div class="container">
                <footer class="footer">
                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item">
                            <a href="/" class="nav-link px-2">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://bewildered-cyan-gecko.cyclic.app/tos" class="nav-link px-2">Terms of Service</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://bewildered-cyan-gecko.cyclic.app/privacy" class="nav-link px-2">Privacy Policy</a
                >
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>